/*  ----------------- Header --------------------- */
.home .whb-header {
  margin-bottom: 20px;
}

/* .wd-highlighted-products .wd-buttons.wd-pos-r-t {
	top: -10px;
	right: -5px;
} */

.wd-highlighted-products .wd-products-holder > * {
	 flex: 0 0 calc(50% - 10px);
}

.wd-highlighted-products .product.wd-hover-tiled .product-wrapper {
	box-shadow: none !important;
}

/*  ----------------- Home Slider --------------------- */

.home-slider .wd-wpb {
  margin-bottom: 0 !important;
}

.vc_col-has-fill>.vc_column-inner {
  padding-top: 0 !important;
}

.home .wd-wpb {
  margin-bottom: 24px;
}

/*  Shop page - categories tittle*/

.archive .wd-entities-title {
  font-size: 14px !important;
}

.wd-nav-mobile {
  display: flex !important;
}

/*  Contact form */
.info-box-wrapper {
  margin-bottom: 15px;
}

/* -------------------------- Product page --------------------------*/
.single-product .summary-inner>.price {
	font-size: 2em;
	font-weight: 700;
}

.hoang-son-info h3, .hoang-son-info p {
	font-size: 1rem !important;
}

.box-icon-align-left .box-icon-wrapper {
	margin-right: 2.4vw !important;
}